<head>
    

    <link rel="stylesheet" href="~/css/main.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/color.css">
    <link rel="stylesheet" href="~/css/responsive.css">


</head>
<div class="central-meta">
    <div class="editing-info">
        <h5 class="f-title"><i class="ti-info-alt"></i>Đăng bài</h5>
        <form method="post">
            <div class="form-group half" style="width:250px">
                <input type="text" id="input" required="required" style="width:200px" />
                <label class="control-label" for="input">Tên sản phẩm</label><i class="mtrl-select" style="width:200px"></i>
            </div>
            <div class="form-group half" style="width:250px">
                <select>
                    <option value="country">Country</option>
                    <option value="AFG">Afghanistan</option>
                    <option value="ZWE">Zimbabwe</option>
                </select>
            </div>
            <div class="form-group">
                <div class="form-group half">
                    <input type="text" id="input" required="required" />
                    <label class="control-label" for="input">Giá sản phẩm</label><i class="mtrl-select"></i>
                </div>
                <div class="form-group half">
                    <input type="text" id="input" required="required" />
                    <label class="control-label" for="input">Số lượng</label><i class="mtrl-select"></i>
                </div>
            </div>
            <div class="form-group">
                <textarea rows="4" id="textarea" required="required"></textarea>
                <label class="control-label" for="textarea">Mô tả</label><i class="mtrl-select"></i>
            </div>
            <div class="form-group">
                <div class="name">Upload hình ảnh</div>
                <div class="value">
                    <div class="input-group js-input-file">
                        @*<input class="input-file" type="file" name="file_cv" id="file">*@
                        <input accept="image/*" type="file" name="img" id="imgInp"><br>
                        <img id="blah" src="#" width="200" alt="Image preview...">
                        <script>
                            imgInp.onchange = evt => {
                                const [file] = imgInp.files
                                if (file) {
                                    blah.src = URL.createObjectURL(file)
                                }
                            }
                        </script>
                    </div>
                </div>
            </div>
            <div class="submit-btns">
                <button type="button" class="mtr-btn"><span>Cancel</span></button>
                <button type="button" class="mtr-btn"><span>Save</span></button>
            </div>
        </form>
    </div>
    </div>
