@model ELF.Models.QuanHuyen

<option value="">Quận/Huyện</option>
@if(ViewBag.maQuan != null)
{
    foreach (var item in ViewBag.maQuan)
    {
        <option value="@item.Value" >@item.Text</option>
    }
}    