@model IEnumerable<ELF.Models.QuyenGop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
    int maLQG = int.Parse(TempData["maLQG"].ToString());
    string keyword = "";
    if (TempData["keyword"] != null)
    {
        keyword = TempData["keyword"].ToString();
    }


}



<div class="usr-pnl">
    <div class="pnl-tl">
        <h4>Loại quên góp</h4>

        <a href="#" title="" class="scrh-grp-btn"><i class="fa fa-plus"></i></a>
    </div><!-- Panel Title -->
    <div class="pnl-bdy">
        <div class="blog-sec right-pading" style="padding: 40px 40px 45px; ">
            <div class="post-filter-sec">
                <form method="post" class="filter-form">
                    @using (Html.BeginForm("Index", "QuyenGops", FormMethod.Get))
                    {
                        @Html.Hidden("maLQG", maLQG)
                        <input type="search" placeholder="Tìm kiếm" aria-label="Search" aria-describedby="search-addon" name="keyword">
                        <button><i class="ti-search"></i></button>
                    }
                </form>
            </div>
            <div class="frnds">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">Chờ duyệt</a>
                    <li class="nav-item"><a class="" href="#frends-req" data-toggle="tab">Đã duyệt</a>
                    <li class="nav-item"><a class="" href="#frends-req1" data-toggle="tab">Đã hủy</a>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active fade show " id="frends">
                        @Html.Action("List_QG", "QuyenGops", new { maLQG = maLQG, trangThai = "Chờ duyệt", keyword = keyword })
                        <div class="lodmore"><button class="btn-view btn-load-more"></button></div>
                    </div>
                    <div class="tab-pane fade" id="frends-req">
                        @Html.Action("List_QG", "QuyenGops", new { maLQG = maLQG, trangThai = "Đã duyệt", keyword = keyword })
                        <button class="btn-view btn-load-more"></button>
                    </div>

                    <div class="tab-pane fade" id="frends-req1">
                        @Html.Action("List_QG", "QuyenGops", new { maLQG = maLQG, trangThai = "Đã hủy", keyword = keyword })
                        <button class="btn-view btn-load-more"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
