@model ELF.Models.viewModels.QuizVM

@{
    ViewBag.Title = "SelectQuizz";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
}

<div class="central-meta">

    <div class="groups">
        <span><i class="ti-help-alt"></i> Bài quiz</span>
    </div>

    <br />

    <h6>Chọn chủ đề quiz bạn muốn làm 😊</h6>

    @using (Html.BeginForm("SelectQuizz", "Quizz", FormMethod.Post))
    {
        @Html.DropDownListFor(model => model.QuizID, Model.ListOfQuizz, new { @class = "form-control selectpicker" })<br /> <br />
        if (TempData["ErrorAttempts"] != null)
        {
            @*<button type="button" id="Enter" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-success btn-lg" style="width:100%;"><span class="glyphicon glyphicon-ok"></span>   GÉT GÔ </button>*@
            <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="button-87" style="width: 100%; font-size: 1.1rem;"><span class="glyphicon glyphicon-ok"></span>   GÉT GÔ </button>
        }
        else
        {
            @*<button type="submit" id="Enter" class="btn btn-success btn-lg" style="width:100%;"><span class="glyphicon glyphicon-ok"></span>   GÉT GÔ </button>*@
            <button type="submit" id="Enter" class="button-87" style="width: 100%; font-size: 1.1rem;"><span class="glyphicon glyphicon-ok"></span>   GÉT GÔ </button>
        }
    }

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @TempData["ErrorAttempts"]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(".chosen-container").remove();
    });
</script>



