@model ELF.Models.viewModels.QuizVM

@{
    ViewBag.Title = "SelectQuizz";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
}

<div class="central-meta">
    <div class="groups">
        <span><i class="ti-help-alt"></i> Bài quiz</span>
    </div>

    <br />

    <h6>Chọn chủ đề quiz bạn muốn làm: </h6>

    @using (Html.BeginForm("SelectQuizz", "Quizz", FormMethod.Post))
    {
        @Html.DropDownListFor(model => model.QuizID, Model.ListOfQuizz, new { @class = "form-control selectpicker", @style = "margin-left:51px;" })<br /> <br />
        <button type="submit" id="Enter" class="btn btn-success btn-lg" style="width:100%;"><span class="glyphicon glyphicon-ok"></span>   GÉT GÔ </button>
    }

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(".chosen-container").remove();
        });
</script>



