@model IEnumerable<ELF.Models.QuaTang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<div class="usr-pnl">
    <div class="pnl-tl">
        <h4>Danh sách quà tặng của ELF</h4>
        <a href="#" title="" class="scrh-grp-btn"><i class="fa fa-plus"></i></a>
    </div><!-- Panel Title -->
    <div class="pnl-bdy">
        @foreach (var item in Model)
        {
            <div class="cmp-loc">
                <div class="cmp-sc1">
                    <div class="cmp-thm">
                        <img src="~/images/resources/@item.hinhAnh" alt="">
                    </div>
                </div>
                <div class="cmp-sc2">
                    <h2>@item.tenQuaTang</h2>
                    <span>Vật dụng:  @item.ghiChu</span>
                    <span>Tình trạng: @item.trangThai</span>
                </div>
                <div class="cmp-sc3">
                    <h2>Thời gian tạo quà </h2>
                    <span><i class="fa fa-clock-o"></i> @item.ngayTao</span>

                </div>
                <div class="cmp-sc4">
                    <div class="cmp-bnr">
                        <img src="~/images/resources/@item.hinhAnh" alt="">
                        <a href="#" title=""><i class="fa fa-pencil"></i> Edit</a>
                    </div>
                </div>
            </div>
        }


    </div><!-- Panel Body -->
</div>
                        
