@model IEnumerable<ELF.Models.KetQua>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
}

<div class="central-meta">
    <div class="groups">
        <span><i class="fa fa-file-text-o"></i> Lịch sử bài Quiz</span>
    </div>



    @if (Model.Count() == 0)
    {
        <div class="error-meta">
            <h4>Bạn chưa làm bài Quiz nào 😓</h4>
        </div>

    }


    <div class="frnds">      

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active fade show " id="frends">
                <div class="notification-box">
                    <ul>
                        @foreach (var item in Model)
                        {
                            int soCauDung = (int)item.TongDiem/10;
                            <li>
                                <div class="notifi-meta">
                                    <a style="font-weight: bold">Bài Quiz chủ đề @item.ChuDeBaiQuiz.tenChuDe<a style=" font-weight: bold; float: right; color: cadetblue "> + @item.TongDiem</a></a>
                                    <br />
                                    <span style="color: #545454; font-size: 13px">Bạn đã đúng <span style="color: crimson">@soCauDung câu</span></span>
                                    <br />
                                    <span  style="color: #088dcd; font-size: 13px">@item.ngayLamQuiz</span>
                                    <br />
                                </div>
                            </li>

                        }


                    </ul>
                </div>


            </div>

        </div>
    </div>
</div>
