@model IEnumerable<ELF.Models.ChuDeBaiQuiz>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
}

<div class="central-meta">
    <div class="groups">
        <span><i class="ti-help-alt"></i> Bài quiz</span>
    </div>

    <br />

    <h6>Chọn chủ đề quiz bạn muốn làm: </h6>


    <ul class="liked-pages">
        @foreach (var item in Model)
        {
            <li>
                <div class="f-page">
                    <figure>
                        <a href="#" title=""><img src="~/images/resources/@item.hinhAnh" alt=""></a>
                    </figure>
                    <div class="page-infos">
                        <h5><a href="#" title="">@Html.DisplayFor(modelItem => item.tenChuDe)</a></h5>
                        <span><a href="" title="">Câu hỏi liên quan đến yếu tố @Html.DisplayFor(modelItem => item.tenChuDe)</a></span>
                    </div>

                </div>
            </li>
        }
    </ul>

</div>

