@model List<ELF.Models.DiemTichLuy>
@{
    int maND = int.Parse(Session["maND"].ToString());
    int DTL = int.Parse(Model.Sum(dtl => dtl.diem).ToString());
    Session["DiemTichLuys"] = DTL;
}

<div class="tab-pane active fade show " id="link1">
    <span><i class="ti-heart"></i>@DTL</span>
    <a href="@Url.Action("Index", "QuaTangs")" title="weekly-likes">Đổi quà</a>
</div>
<div class="tab-pane fade" id="link2">

    <a href="#" title="weekly-likes">Lịch sử cộng điểm tích lũy</a>
    <a href="#" title="weekly-likes">Lịch sử trừ điểm tích lũy</a>
    <a href="@Url.Action("Index","DiemTichLuys",new { maND = maND  })" title="weekly-likes">Chi tiết</a>


</div>
