@model IEnumerable<ELF.Models.QuyenGop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
    string quyenGopImg = "";
}


<div class="central-meta">
    <div class="groups">
        <span><i class="fa fa-file-text-o"></i> Lịch sử quyên góp</span>
    </div>

    <ul class="nearby-contct">
        @foreach (var item in Model)
        {
            <li>
                <div class="nearly-pepls">
                    <figure>
                        <a href="time-line.html" title=""><img src="@Url.Content(hinh)" alt=""></a>
                    </figure>
                    <div class="pepl-info">
                        <h4><a href="time-line.html" title="">funparty</a></h4>
                        <span>public group</span>
                        <em>32k Members</em>
                        <a href="#" title="" class="add-butn" data-ripple="">join now</a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

