
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
}

<h2>Thiết kế một cái html về cảm ơn người ta đã quyên góp và nhắc nhở liên hệ khi quyên góp,....</h2>
<a href="@Url.Action("Index", "LoaiQuyenGops")" class='col-md-offset-2 col-md-10'>
    <span>Trở về</span>
</a>

